[Interface]
Address = {{ item.ip_address }}
PrivateKey = {{ lookup('ansible.builtin.file', service_data_path + '/config/wg_confs/' + item.name + '.private.key') }}
DNS = {{ dns }}

[Peer]
PublicKey = {{ item.server_public_key }}
Endpoint = {{ item.endpoint }}
AllowedIPs = {{ item.allowed_ips | default('0.0.0.0/8') }}
PersistentKeepalive = {{ persistent_keepalive | default('25') }}